<div class="concert-page">
  <h2 class="page-title">{{title}}</h2>

  <div class="concert-list">
    <div *ngFor="let concert of concerts;trackBy: trackById">
   <app-concert-card [concert]="concert"
   (deleteEmitter)="confirmDelete($event)"
   (editEmitter)="edit($event)">
   </app-concert-card>
   </div>
  </div>
  <div class="modal-overlay" *ngIf="showEditForm">
    <div class="modal-content">
  <app-concert  [currentConcert]="reqConcert"
  (updateEmitter)="confirmUpdate($event)">
  </app-concert>
  </div>
  </div>
</div>